.myCourseItem {
  margin: 30px 0;
}
.imgNetFooter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.iconNetCard span {
  padding-right: 15px;
}
.cardNetContent * {
  margin-bottom: 5px;
}
.iconStarNet i {
  color: #f6ba35;
}
.searchForm {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
  background-image: url(https://demo2.cybersoft.edu.vn/static/media/search.fb399e91.png);
  background-size: 30px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}
.searchForm:focus {
  border: 2px solid #41b294;
}
.hide {
  display: none;
}
