.btn {
  display: inline-block;
  border-radius: 25px;
  padding: 12px 10px;
  cursor: default;
  border: 2px solid #e4e4e4;
  outline: none;
  transition: 0.5s linear;
  font-weight: 500;
}
.btn:hover {
  border: 2px solid #113d3c;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}
