.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: unset;
  overflow: unset;
}
.slick-dots-bottom {
  color: #41b294 !important;
}
.slick-dots-bottom .slick-active {
  color: #41b294 !important;
}
.slick-dots li button {
  background: none !important;
}
.slick-dots li button::after {
  background: #41b294;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.intructorContent {
  display: flex !important;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
}
.intructorContent:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rating i,
.rating span {
  color: #f6ba35;
  font-weight: bold;
  font-size: 18px;
}
.ant-carousel .slick-slide {
  height: auto;
  line-height: normal;
}

.slick-dots {
  position: unset !important;
}
@media (max-width: 767px) {
  .slick-dots-bottom {
    bottom: -48px !important;
  }
}
