.infoLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* min-height: 500px; */
}
.infoLeft img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.btnInfo {
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #41b294;
  border: none;
}
.infoCenter {
  padding: 20px;
}
.infoRight {
  padding: 20px;
}
.ant-modal-close {
  display: none;
}
.ant-modal-content {
  background: url(https://demo2.cybersoft.edu.vn/static/media/hornor.a74f5377.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.ant-btn-primary {
  display: none;
}
.ant-btn-primary {
  color: white;
}
.ant-input {
  background-color: #fff !important;
}
.ant-modal-footer {
  display: none !important;
}
