.triangleTopRightR {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 6%;
  left: 4%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #f6ba35;
}
.smallBoxR {
  position: absolute;
  z-index: 1;
  height: 70px;
  width: 10%;
  background-image: radial-gradient(#41b294 10%, transparent 11%),
    radial-gradient(#41b294 10%, transparent 11%);
  background-size: 10px 10px;
}

.reviewStudent .smallBoxRightBottomR {
  bottom: 0;
  right: 10%;
  height: 50px;
  background-image: radial-gradient(#f6ba35 10%, transparent 11%);
}
.smallBoxRightTopR {
  top: 0;
  right: 40%;
  height: 50px;
  width: 80px;
  background-image: radial-gradient(#41b294 10%, transparent 11%),
    radial-gradient(#41b294 10%, transparent 11%);
}
.smallBoxLeftBottomR {
  border-radius: 50%;
  bottom: 0;
  left: 30%;
  height: 80px;
  width: 80px;
  background-image: radial-gradient(#41b294 10%, transparent 11%),
    radial-gradient(#41b294 10%, transparent 11%);
}
.reviewImg {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.bgStudentReview {
  top: -10%;
  z-index: 1;
  height: 220px;
  width: 230px;
  position: absolute;
  background-color: #ed85ab;
  border-radius: 10px 100px 110px;
}
.bgStudentReview img {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 10;
}
.quoteRight {
  padding: 44px;
}
.textQoute {
  position: relative;
  line-height: 30px;
  font-size: 17px;
}
.reviewStudent blockquote q:before {
  position: absolute;
  top: 0;
  left: -6%;
  font-size: 50px;
  font-family: fantasy;
  color: #ed85ab;
}
q::after {
  content: close-quote;
}
@media (max-width: 767px) {
  .reviewStudent {
    position: relative;
    padding: 50px 0;
  }
  .triangleTopRightR {
    top: 18px;
    left: -2px;
  }
  .smallBoxR {
    position: absolute;
  }
  .reviewStudent .smallBoxLeftTopR {
    position: absolute;
    width: 15%;
    top: 21px;
    left: 18px;
    background-image: radial-gradient(#41b294 10%, transparent 30%),
      radial-gradient(#41b294 10%, transparent 30%);
  }
  .smallBoxRightTopR {
    top: 10px;
    right: 0;
    background-image: radial-gradient(#41b294 10%, transparent 30%),
      radial-gradient(#41b294 10%, transparent 30%);
  }
  .smallBoxLeftBottomR {
    background-image: radial-gradient(#41b294 10%, transparent 30%),
      radial-gradient(#41b294 10%, transparent 30%);
    left: 56%;
  }
  .quoteRight {
    padding-top: 16rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bgStudentReview {
    top: 65px;
  }
}
