.smallBox {
  position: absolute;
  z-index: 1;
  height: 10%;
  width: 10%;
  background-image: radial-gradient(#41b294 10%, transparent 11%),
    radial-gradient(#41b294 10%, transparent 11%);
  background-size: 10px 10px;
}
.sloganBox {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.triangleTopRight {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 5%;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #f6ba35;
}
.smallboxLeftTop {
  top: 10%;
  left: 10%;
  height: 70px;
  width: 20%;
}

.smallboxRightTop {
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-image: radial-gradient(#f6ba35 10%, transparent 11%);
  width: 11%;
  height: 16%;
}
.smallboxRightBottom {
  bottom: 10%;
  left: 70%;
  height: 10%;
  width: 10%;
  background-image: radial-gradient(#ed85ad 10%, transparent 11%);
}
.doubleBox {
  left: 74%;
}
.sloganBox .smallboxRightBottom {
  bottom: 10%;

  height: 13%;
  width: 10%;
  background-image: radial-gradient(#ed85ad 10%, transparent 11%);
}
.sliderPlaneImg {
  position: absolute;
  object-fit: cover;
  right: 30%;
  top: 8%;
  width: 20%;
  height: 25%;
}
.sloganContainer p {
  position: relative;
  z-index: 10px;
  font-weight: 600;
  font-size: 50px;
}
.sloganContainer p:nth-of-type(3) {
  font-size: 65px;
  color: #41b294;
  overflow: hidden;
  animation: aniText 5s steps(10) infinite;
}
.sloganContainer p:nth-of-type(3) span {
  margin-left: 5px;
}
/* Animation text */
@keyframes aniText {
  0% {
    width: 0;
  }
  50% {
    width: 230px;
  }
}

.sliderMainImg {
  width: 100%;
}

.sliderSubImg {
  position: absolute;
  width: 15%;
  height: 15%;
}
.sliderCodeImg {
  left: 20%;
  top: 50%;
  animation: aniSider 4s infinite;
}

.sliderMesImg {
  top: 42%;
  right: 45%;
  transform-origin: bottom;
  animation: aniMessage 4s 3s linear infinite;
}

.sliderCloudImg {
  top: 0;
  left: 0;
  animation: aniCloud 5s linear infinite;
}

.sliderCloud2Img {
  top: 30%;
  left: 20%;
  animation: aniCloud 7s 2s linear infinite;
}

.sliderCloud3Img {
  top: 15%;
  left: 25%;
  animation: aniCloud 5s 2s linear infinite;
}

@keyframes aniCloud {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media (max-width: 767px) {
  .sloganBox {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sliderPlaneImg {
    position: absolute;
    object-fit: contain;
    right: 25%;
    top: 0;
    width: 25%;
    height: 30%;
  }
  .btnGlobal {
    padding: 5px;
  }
}
