.ant-menu.ant-menu-sub.ant-menu-vertical {
  background: rgba(1, 135, 126, 0.5);
}
.ant-menu-title-content {
  color: #000;
  font-weight: 500;
}
.ant-menu-title-content::after {
  border-bottom-color: rgba(1, 135, 126, 0.5);
}
.ant-menu-title-content:hover {
  color: rgba(1, 135, 126, 0.5);
}
.headerFixed {
  position: fixed;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #fff;
  padding: 5px 50px;
  transition: all 0.5s;
  animation: fadeInDown ease-in 0.5s;
  width: 100%;
  z-index: 100;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icon {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  display: none;
  top: 51px;
  right: 0;
  font-size: 16px;
  width: 13vw;
}
.show {
  display: block;
  z-index: 999999;
}
.dropdown-content li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.scroll-to-top {
  background-color: #41b294 !important;
  right: 20px !important;
  bottom: 20px !important;
  height: 40px !important;
  width: 40px !important;
}
/* responsive */
@media (max-width: 767px) {
  .ant-menu {
    background-color: #41b294 !important;
  }
  .header {
    z-index: 999;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
  }
  .headerFixed {
    position: fixed;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    padding: 5px 50px;
    transition: all 0.5s;
    animation: fadeInDown ease-in 0.5s;
    z-index: 9999;
  }
  .scroll-to-top {
    background-color: #41b294 !important;
    right: 23px !important;
    bottom: 33px !important;
    height: 40px !important;
    width: 40px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ant-menu {
    background-color: #41b294 !important;
  }
  .header {
    z-index: 999;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
  }
  .headerFixed {
    position: fixed;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    padding: 5px 50px;
    transition: all 0.5s;
    animation: fadeInDown ease-in 0.5s;
    z-index: 9999;
    width: 100%;
  }
  .scroll-to-top {
    background-color: #41b294 !important;
    right: 23px !important;
    bottom: 33px !important;
    height: 40px !important;
    width: 40px !important;
  }
}
@media (min-width: 992px) and (max-width: 1158px) {
  .listItem {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
