.coursesContainer {
  padding: 50px;
}
.bgStyle1 {
  background: #264653;
}
.bgStyle2 {
  background: #2a9d8f;
}
.bgStyle3 {
  background: #e9c46a;
}
.bgStyle4 {
  background: #f4a261;
}
.bgStyle5 {
  background: #ee8959;
}
.bgStyle6 {
  background: #e76f51;
}
.coursesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
  padding: 30px 20px;
  text-align: center;
}
.coursesListPage {
  padding: 50px;
}
.ant-pagination-options {
  display: none !important;
}
.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-pagination li {
  border: 2px solid #41b264 !important;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  line-height: 1.25 !important;
  background: #fff;
  margin-left: 5px;
  font-size: 15px;
}
.ant-pagination li:hover {
  color: #fff !important;
  background-color: #41b264 !important;
  border-color: rgba(17, 61, 60, 0.5) !important;
}

.anticon-left,
.anticon-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-pagination .ant-pagination-item-active a {
  color: #fff;
}
.ant-pagination .ant-pagination-item:active {
  color: #fff !important;
  background-color: #41b264;
  border-color: #dee2e6;
}
.ant-pagination-item-active {
  background-color: #41b264 !important;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
}

@media (max-width: 767px) {
  .ant-pagination-item {
    display: flex !important;
    justify-content: center !important;
  }
  .ant-pagination-item-link {
    display: flex !important;
    align-items: center !important;
  }
  .ant-pagination-prev {
    min-width: auto !important;
  }
  .ant-pagination-next {
    min-width: auto !important;
  }
}

@media (min-width: 991px) and (max-width: 1280px) {
  .listItems {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
