.cardGlobalRes {
  display: flex;
  justify-content: center;
}

.itemEffect {
  transition: all 0.4s;
}

.itemEffect:hover {
  transform: translateY(-2px);
}

.cardGlobal {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  width: 280px;
  min-width: 280px;
  min-height: 370px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.stickerCard {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 174px;
  padding: 0 10px;
  color: #fff;
  background-color: #41b294;
}

.cardBodyGolbal {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px;
}

.cardIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.cardIcon span {
  color: #8c8c8c;
}

.titleMark {
  display: flex;
  align-items: center;
}

.imgCardFooter {
  height: 40px;
  width: 40px;
  padding: 2px;
  border-color: #f6ba35 transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #f6ba35;
  border-right: 1px solid transparent;
  border-top: 1px solid #f6ba35;
  border-radius: 50%;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.imgCardFooter img {
  width: 100%;
}

.colorCardTitle {
  color: #8c8c8c;
}

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5rem;
}

.subCard {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  top: -10%;
  right: -132%;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s;
  width: 350px;
  min-width: 280px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
}
.cardGlobal:hover .subCard {
  opacity: 1;
  visibility: visible;
}

.cardGlobalRes:nth-of-type(2) .cardGlobal .subCard,
.cardGlobalRes:nth-of-type(4) .cardGlobal .subCard {
  right: 0;
  left: -132%;
}

.subCard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
}

.cardGlobalRes:nth-of-type(2) .cardGlobal .subCard::before,
.cardGlobalRes:nth-of-type(4) .cardGlobal .subCard::before {
  left: 100%;
  border-left: 15px solid #fff;
  border-right: 15px solid transparent;
}

.subCardHead {
  padding: 10px 0;
}

.colorCardTitle {
  color: #8c8c8c;
}

.btnGolbal {
  padding: 5px 10px;
  background-color: #f6ba35;
  background-color: #f6ba35;
  border: none;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 15px;
}

.btnSubCard {
  padding: 15px;
  background-color: #41b294;
}

.cardSale {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 85px;
  height: 30px;
  padding: 5px 8px 4px;
  color: #fff;
  background-color: red;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.subCard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.cardSale::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -10px;
  border-bottom: 10px solid transparent;
  border-right: 5px solid red;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.cardSale:after {
  top: 0;
  right: -12px;
  border-color: red transparent;
  border-style: solid;
  border-width: 15px 12px 15px 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.cardFooter .iconTag {
  font-size: 18px;
  color: red;
  margin-left: 4px;
}
.cardIcon span i {
  margin-right: 8px;
}
.iconOclock {
  color: #f5c002;
}
.iconCalendar {
  color: #f06f68;
}
.iconLevel {
  color: #65c9ff;
}
.fab,
.far {
  font-weight: 400;
}

.cardFooter p:first-of-type {
  text-decoration: line-through;
}
.cardFooter p:nth-of-type(2) {
  font-weight: 500;
  color: #41b294;
}
@media (max-width: 767px) {
  .dropdown-content {
    right: -33px !important;
    height: 63vh;
  }
}
