.navFilter h6 {
  font-size: 25px;
  padding-bottom: 16px;
}
.navFilter h6 i {
  color: #41b294;
  margin-right: 5px;
}
.filterItem {
  margin-bottom: 10px;
}
.filterItem h6 {
  padding-bottom: 10px;
  font-size: 20px;
}
.filterItem ul {
  padding-left: 15px;
}
.filterItem ul li {
  padding: 5px 0;
}

.BoxSearch {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label {
  margin-bottom: 0.5rem;
}
.BoxSearch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #41b294;
  border-radius: 5px;
}

.BoxSearch input ~ .checkMark i {
  position: absolute;
  display: none;
  left: 2px;
  top: 2px;
  color: #fff;
  -webkit-animation: zoomI 0.2s ease-in-out;
  animation: zoomI 0.2s ease-in-out;
}
.BoxSearch input:checked ~ .checkMark {
  background-color: #41b294;
}
.BoxSearch input:checked ~ .checkMark i {
  display: inline-block;
}

.BoxSearch i {
  color: #f6ba35;
}

/* Effect zoom  */
@keyframes zoomI {
  0% {
    transform: scale(1.5);
  }
  90% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.imgNet {
  object-fit: fill;
  width: 100%;
  height: 200px;
  min-height: 200px;
}
