.textLogo {
  color: #252525;
  font-family: "fontPoppin";
  display: inline-block;
  /* position: relative; */
  font-size: 20px;
  transition: all 0.3s;
  text-shadow: 5px -2px 3px #54d2c0;
}
.iconLogo {
  position: absolute;
  top: 15px;
  right: 2px;
}
.textE {
  font-size: 40px;
  color: #41b294;
  font-weight: bold;
}
.iconFooter {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #41b294;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
}
.menuFooter li {
  padding: 5px 0;
  transition: all 0.5s;
  font-weight: 500;
}
.textCardTitle ul li:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  color: #01877e;
}
.textCardTitle {
  font-size: 20px;
  font-weight: 700;
}
.formFooter {
  margin: 3px 0;
  outline: none;
  border: none;
  width: 300px;
  max-width: 100%;
  height: 40px;
  border: 2px solid #41b294;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
.iconSize {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  transition: all 0.3s linear;
}

.iconSize:hover {
  box-shadow: 1px 2px 2px 1px #636363;
}

.iconFooter:hover {
  opacity: 1;
}
.menuFooter li {
  font-size: 1rem;
}
