.cardBlogContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 1s;
}
.imgCardBlog {
  overflow: hidden;
}
.cardBlogContent img {
  object-fit: cover;
  width: 100%;
  height: 302px;
  min-height: 302px;
}
.cardBlogContent p {
  font-size: 20px;
  padding: 10px 0;
}
.timeBlogCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timeBlogCourse .reviewBlog span {
  padding-right: 10px;
}
.timeBlogCourse span i {
  color: #41b294;
}
.cardBlogContent p {
  padding: 10px 0;
}
.timeBlogCourse p span {
  color: #ed85ab;
}
.btnGlobal {
  padding: 5px 10px;
  background-color: #f6ba35;
  border: none;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 15px;
}
.btnCardBlog {
  width: 100px;
}
.btnCardBlog a {
  color: #fff;
}
.blogRightBox {
  border: 1px solid #d0d0d0;
  margin-bottom: 30px;
  border-top: 3px solid #41b294;
}
.blogRightBox > p {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
  font-size: 16px;
}
.blogRightBox ul li {
  padding: 10px 20px;
  list-style: none;
  transition: all 0.5s;
}
.blogRightBox ul li:hover {
  transform: translateY(-2px);
}
.blogRightBox ul li:hover a {
  color: #41b294;
}
.blogRightBox ul li a {
  color: #8c8c8c;
  transition: all 0.5s;
}
.postBlog {
  padding: 20px;
  margin-bottom: 20px;
}
.postBlog img {
  padding-bottom: 10px;
  width: 100%;
}
.postBlog p {
  font-size: 1rem;
  padding-bottom: 10px;
}
.colorCardTitle {
  color: #8c8c8c;
}
.postBlog .imgPost img {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  object-fit: cover;
}
