.largeContent {
  position: relative;
  overflow: hidden;
}
.infoContent::before {
  position: absolute;
  content: "";
  top: 0;
  width: 50%;
  left: -160%;
  height: 100%;
  transform: skewX(-17deg);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.3)
  );
}
.largeContent:hover .infoContent::before {
  animation: shine 1.5s;
}
@keyframes shine {
  100% {
    left: 170%;
  }
}
