.sliderAbout {
  background-image: url("https://demo2.cybersoft.edu.vn/static/media/bgAbout.19ac825c.png");
  background-position: 50%;
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sliderContentAbout {
  text-align: center;
  padding: 50px;
}
.titleSliderAbout {
  color: #41b294;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.slierContentAbout h6 {
  color: #f6ba35;
  font-size: 40px;
  font-weight: 500;
}
.slierContentAbout p {
  color: #fff;
  font-size: 18px;
}
.aboutItem {
  padding: 0 50px;
}
.content h6 {
  color: #41b294;
  font-size: 20px;
  font-weight: 500;
}
.content h5 {
  color: #012025;
  font-size: 40px;
  padding: 10px 0;
}
.content p {
  line-height: 2.2;
  color: #8c8c8c;
}
.bgAboutGreen {
  background: url(https://demo2.cybersoft.edu.vn/static/media/solutions-hero-green-bg.15753edf.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.bgAboutGreen img {
  width: 100%;
  height: 100%;
  height: 382px;
  object-fit: contain;
  border-radius: 30%;
}
.content p::first-letter {
  font-size: calc(60px + 0.75vw);
  line-height: 40px;
  color: indianred;
  float: left;
  padding-top: 10px;
  padding-right: 5px;
  /* font-family: Sansita One; */
}
